h1{
    color: aqua;
    background-color: white;
}
p{
    color: blue;
    background-color: brown;
}
div{
    color: beige;
    background-color: blueviolet;
}
i{
    color: yellow;
    background-color: pink;
}